@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Noto Sans', sans-serif;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}